name: Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        # Enable caching to make subsequent runs lightning fast
        enable-cache: true
        python-version: "3.10"
    - name: Install dependencies
      run: |
        uv sync --dev --frozen # Installs exactly what is in your uv.lock

    - name: Ruff check
      run: |
        uv run ruff check .
    
    - name: Test with pytest
      run: |
        uv run pytest
