name: Run Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        # Enable caching to make subsequent runs lightning fast
        enable-cache: true
        python-version: "3.10"
    - name: Install dependencies
      run: |
        uv sync --frozen # Installs exactly what is in your uv.lock

    - name: Lint with flake8
      run: |
        # We use 'uv run' to execute commands within the synced environment
        uv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        uv run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Test with pytest
      run: |
        uv run pytest
